.app {
    display: grid;

    grid-template-areas: 
        "e c c c c c c c c c c c"
    ;
}

.editor {
    border: solid 1px black;
    grid-area: e;
    padding: 10px;
}

.canvas {
    border: solid 1px black;
    grid-area: c;
}

.convertedCode {
    border: black solid 1px;
    max-width: 10rem;
    padding: 1rem;
}

.selectShapeButtons {
    display: grid;

    grid-template-columns: 1;
    gap: 1px;
}

button {
    border: solid black 1px;
    background-color: white;
    
}

button :hover {
    background-color: grey;
}

button :active {
    background-color: black;
}