.app {
    display: grid;

    grid-template-areas: 
        "ts c tpe"
        "b c e"
    ;
    height: 80vh;
}

.editor {
    border: solid 1px black;
    grid-area: e;
    padding: 1rem;
    max-height: calc(100vh - 50px);
    overflow-y: auto;
    height: fit-content;

}

.canvas {
    grid-area: c;
    border: solid 1px black;
    height: 100vh;
    width: 70vw;
}

.selectShapeButtons {
    border: solid 1px black;
    grid-area: b;
    overflow-y: scroll;
    height: fit-content;
    width: 10vw;
}

.selectShapeButtons > button {
    width: 100%;
}

.convertedCode {
    border: black solid 1px;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: auto;
    background-color: black;
    color: white;

}

.title {
    border: solid black 1px;
    text-align: center;
    padding: 1rem;
    margin: 0px;
    height: auto;
}

.propertiesTitle {
    grid-area: tpe;
}

.shapesTitle {
    grid-area: ts;
}

.propertyInputs, .showSelected {
    border: 1px solid black;
    padding: 1rem;
    text-align: center;
}

.propertyInputs {
    overflow-y: scroll;
    max-height: 20rem;
}

button {
    width: 100%;
}

.selectedShape {
    border: solid 1rem black;
}

.commandButtons {
    border: 1px solid black;
    padding: 0.5rem;
}